@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello.</h1>
    <p> This is a Magnolia Labs private cloud reference application. </p>
    <p> This app built using Microsoft dotnet core MVC framework and deployed in Pivotal Cloud Foundry </p>
</div>